#container {
 
    border-radius: 10px;
    margin: 20px;
}

#titulo-bandeja {
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 600;
}

.titulo-item {
    font-family: 'Poppins';
    font-weight: 600;
}

.descripcion-item {
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 14px;
    color: #b4b5b5;
}

.sub-descripcion-item {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    color: #b4b5b5;
}

.item-datos {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 13px;
    color: #3765b4;
}

.ver-mapa {
    cursor: pointer;
}

