* {
    font-size: 'Poppins';
    
}

 
#check-reporte {
    margin-top: 20px;
}

mat-card {
 
    margin: 0px;
    margin: 20px;
    border-radius: 10px;
}

.expand {
    width: 100%;
}

.container-reporte {
    margin: 20px;
}

.line-reporte {
    border-bottom: 1px solid #D2E0EF;
    border-right: 1px solid #D2E0EF;
    text-align: center;
    font-weight: bold;
}

.no-line-reporte {
    border-right: none;
    border-bottom: 1px solid #D2E0EF;
    text-align: center;
    font-weight: bold;
}

.inputs-list div {
    text-align: center;
    border-right: 1px solid #D2E0EF;
}

.inputs-list div:last-child {
    border: none
}

.reporte-input {
    width: 90%;
    text-align: left;
    margin-top: 5px;
    border-radius: 5px;
}

.add {
    text-align: left;
}

.n-orden {
    margin-top: 20px;
    color: red;
    font-weight: 600;
}

#titulo-tab {
    background-color: #01579b;
    color: white;
    padding: 10px;
    /*     border-top-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

#tab-end {
    margin-top: 20px;
}

#textarea {
    width: 100%;
    border-radius: 10px;
}

#input-file {
    margin-left: 20px;
}

#btn-group {
    margin-top: 20px;
}

#btn-group div button {
    background-color: #01579b;
    color: white;
}

#nombreIstalacion {
    padding: 5px;
    width: 80%;
}

#tab2 {
    margin: 20px;
}

.m2 {
    width: 80px
}

#group-img div img {
    width: 100px;
    height: 100px;
}

#tab3 {
    margin: 20px;
}

.btn-remove {
    color: red;
}

 
.puntero{
    cursor: pointer;
}