<mat-card fxLayoutAlign="center" fxLayout="column">

    <div style="text-align: right;">
        <button routerLink="/" mat-fab style="background-color: #F44F3E;color: white;">
            <mat-icon>arrow_back</mat-icon>
          </button>
    </div>

    <div style="text-align: center;">
        <span class="titulo-estado">Estado de emergencia ambiental</span>
        <br>
        <span class="titulo-estado">{{codigoEA}} </span>

    </div>

    <div fxLayoutAlign="center" fxLayout="row" class="progressbar">

        <div *ngFor="let item of estadoEAList;let i = index" fxLayoutAlign="center" fxLayout="row" fxFlex="15">
            <div fxLayout="column">
                <img fxFlexAlign="center" class="step"
                    [ngClass]="{'step':item.estadoEA===true,'step-white':item.estadoEA===false}"
                    style="width: 80px; height: 80px;" [src]="item.path" alt="">
                <span fxFlexAlign="center" class="sec"> {{item.nombreEstadoEA}} </span>
            </div>

            <div fxLayout="column" fxFlex="100">
                <div *ngIf="estadoEAList.length-1!==i" class="linea"></div>
                <!--    <hr *ngIf="estadoEAList.length-1!==i" fxFlex="10"> -->
            </div>
        </div>
    </div>
    <div id="space"></div>
    <div *ngFor="let item of estadoEAList;let i = index" fxLayoutAlign="center" fxLayout="row">

        <div fxFlex="10">
            <div fxLayout="column">
                <img fxFlexAlign="center"
                    [ngClass]="{'step-sub':item.estadoEA===true,'step-white':item.estadoEA===false}"
                    style="width: 50px; height: 50px;" [src]="item.path" alt="">
                <div *ngIf="estadoEAList.length-1!==i" fxFlexAlign="center">
                    <div class="linea-sub"></div>
                </div>
            </div>

        </div>
        <div class="space-desc" fxFlexAlign="start" fxLayout="column" fxFlex="50">
            <div fxFlex="100">
                <span class="titulo-estado">{{item.nombreEstadoEA}} </span>
            </div>
            <div fxLayoutGap="10px" fxLayout="row">
                <div fxFlex="70">
                    <span class="estado-desc"> {{item.descripcionNombreEstadoEA}} </span>
                </div>
                <div  fxFlex="30">
                    <span  *ngIf="item.estadoEA===true" class="fecha-estado">{{item.fechaEstadoEA}} </span>
                </div>
            </div>

        </div>



    </div>



</mat-card>