<div fxLayout="column">
    <div id="titulo" fxLayout="row">
        <span style="padding-top: 15px;" fxFlexOffset="10" fxFlex="80">Mensaje</span>
        <button (click)="cerrar()" id="close" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>

    </div>

    <div class="body-mensaje">
        <span style="margin: 0px auto;" [outerHTML]="data"> </span>

    </div>

    <div class="body-mensaje" fxLayoutAlign="center" fxLayoutGap="20px" fxLayout="row">
        <div fxFlex="20">
            <button class="btn-control" (click)="cerrar()" mat-raised-button>Cerrar</button>
        </div>

    </div>


</div>