 * {
     font-family: 'Poppins';
 }
 
 #titulo {
     background-color: #3765b4;
     color: white;
     width: 100%;
     text-align: center;
 
 }
 
 .body-mensaje {
     margin: 20px;
 }
 
 #close {
     background-color: red;
     color: white;
     margin: 10px;
 
 }
 
 .btn-control {
     background-color: #3765b4;
     color: white;
 }