* {
    font-style: 'Poppins';
}

mat-card {
    margin: 0px;
    margin: 20px;
    border-radius: 10px;
}

#tab1 {
    margin: 20px;
}

#tab2 {
    margin: 20px;
}

#tab3 {
    margin: 20px;
}

.textarea {
    height: 50px;
}

.p-nota {
    font-size: 14px;
}

.line-reporte {
    border-bottom: 1px solid #D2E0EF;
    border-right: 1px solid #D2E0EF;
    text-align: center;
}

.no-line-reporte {
    border-right: none;
    border-bottom: 1px solid #D2E0EF;
    text-align: center;
}

.inputs-list div {
    text-align: center;
}

.inputs-list div:last-child {
    border: none
}

.reporte-input {
    width: 80%;
    text-align: left;
    margin-top: 5px;
    border-radius: 5px;
    background-color: white;
    padding: 3px;
}

.add {
    text-align: left;
}

.n-orden {
    color: red;
    font-weight: 600;
}

#group-img div img {
    width: 100px;
    height: 100px;
}

#btn-group div button {
    background-color: #01579b;
    color: white;
}

.desc-table {
    font-weight: bold;
}

.border-r {
    border-right: 1px solid #D2E0EF;
}

.btn-remove {
    color: red;
}

.puntero{
    cursor: pointer;
}